body {
  background-color: black;
  color: steelblue;
}

.jumbotron {
  margin-top: 10px;
  background-color: #00001a;
  padding-top: 10px;
}

.instructions {
  color: steelblue;
  margin-top: 40px;
}

.displayName {
  font-size: 1.3em;
}

.answer {
  color: white;
}
